# Build results
[Bb]in/
[Oo]bj/[Dd]ebug/*
[Oo]bj/[Rr]elease/*
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
*.pid
*.tmp
*.bak
/SystemClockMod/SystemClockUiMod/node_modules/